img{
    display: block;
    width: 100px;
}

header{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-between;
}

#search{
    display: block;
    width: 50%;
}


.prod{
    grid-area: p;
}
.genius{
    grid-area: g;
}

.oferta{
    grid-area: o;
}

.card{
    grid-area: c;
}

.resigilate{
    grid-area: r;
}
.emag{
    grid-area: e;
}

.help{
    grid-area: h;
}


.produse{
    border: 2px solid red;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 8fr 1fr 1fr;
    grid-template-areas: "p g o c r e h"; 
}

.televizor{
    border: 2px solid red;
    width: 20%;
    display: flex;
    flex-direction: row;
    background-color: blue;
}

.tv{
    display: flex;
    flex-direction: column;
}
.suport{
    border: 2px solid red;
    display: flex;
    flex-direction: row;
    width:20%;
}
.prod{
    display: flex;
    flex-direction: column;
}

.gen{
    display: flex;
    flex-direction: row;
}

.poz1{
    display: block;
    width: 3%;
    height: 8%;
}

.produsele{
    display: flex;
    flex-direction: row;
}
.livrat{
    display: flex;
    flex-direction: row;

}

.container-mare{
    border: 2px solid red;
    display: flex;
    flex-direction: row;
    
}

.adauga{
    display: flex;
    flex-direction: row;
}

button{
    background-color: blue;
    color: white;
}



.star{
    grid-area: st;
}

.samsung{
    grid-area:sam
}

.Lg{
    grid-area: lg;
}

.Philips{
    grid-area: p;
}

.horizont{
    grid-area: h;
}
.Nei{
    grid-area: n;
}

.walton{
    grid-area: w;
}

.welligton{
    grid-area: wll;
}

.container2{
    border: 2px solid red;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap:15px;
  
    grid-template-areas: "st sam lg p"
                          "h n w wll";
}